*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Poppins';
    width: 100%;
    min-height: 100vh;
    display: grid;
    background: rgb(32, 31, 31);
    place-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('images/nature.jpg');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    padding-top: 50px;
}

h1 {
    border-radius: 15px;
    border: 1px solid #fff; /* Border style */
    border-color: #16a4c8;
    padding: 20px; /* Padding around the content */
    width: 78%; /* Maximum width of the rectangle box */
    margin: 0 auto; /* Center the box horizontally */
    text-align: center; /* Center align the text */
    color: #fff; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Background color with opacity */
    padding: 20px;
}

/* Style for the h2 */
.des {
    color: #27c5ec; /* Text color */
    text-align: end; /* Left align the text */
    padding: 20px;
}

.descrip {
    font-weight: bold;
    color: #fff; /* Text color */
    margin-inline: 70px; /* Adjust the distance from the h2 */
    border: 2px solid transparent;
    padding-inline: 15px;
    transition: border-color 0.3s ease;
    border-color: #042857;
    border-radius: 5px;
    display: flex;
    background-color: #312f2f;
    font-size: large;
    color: #27c5ec; 
}

.descrip:hover {
    border-color: #16a4c8;
}

.weather-data {
    max-width: 100%; /* Ensure the video doesn't exceed the width of its container */
    max-height: 100%; /* Ensure the video doesn't exceed the height of its container */
    width: auto; /* Allow the video to adjust its width to maintain aspect ratio */
    height: auto; /* Allow the video to adjust its height to maintain aspect ratio */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border: 3px solid #bec0c2;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.weather-data:hover {
    transform: scale(1.05);
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5row 0;
}

.image-container {
   overflow: hidden;
}

.image-container img {
    max-width: 100%; 
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    transition: 0.3;
    border: 3px solid #bec0c2;
    border-radius: 10px;
    margin-inline-start: 5px;
    padding: 15px;
}

.image-container:hover img{
    transform: scale(1.10);
}

.container .contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.container .contentWrapper span.textWrapper{
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    background: rgb(0, 200, 255);
    color: aquamarine;
}

.container .contentWrapper span.textWrapper span{
    display: inline-block;
    background: #bec0c2;
    width: 100px;
    height: 4px;
}

.container .contentWrapper h2{
    font-size: 50px;
    font-weight: 700;
    color: whitesmoke;
    padding-bottom: 20px;
}

.container .contentWrapper p{
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 25px;
    color: rgb(241, 182, 7);
}

.know-button {
    width: 100px;
    padding: 5px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius:25px;
    font-weight: bold;
    border: 2px solid #18a2bb;
    background: transparent;
    color: #0b0810;
    cursor: pointer;
    position: relative;
    overflow:hidden;

}
.highlight-span {
    background: #03e1e9;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.know-button:hover span{
    width: 100%;
}
.know-button:hover {
    border: none;
}
.button-link {
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
}
.button-link button {
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button-link button:hover {
    width: 100%;
}
.button-link button:hover {
    border: none;
}
